<!—  CONTACT FORM  —>

        <div id=„contact“ class=„bg-green-900  sm:w-2/3 mx-auto mb-4 sm:mb-10“>
            <form class=„w-full p-5“ action=„/„ method=„post“>
                <label for=„Email“>Deine E-Mail Adresse</label>
                <input name=„email“ placeholder=„beispiel@mail.com“ class=„bg-white text-black w-full mb-1 px-2 py-1 rounded“ type=„email“ id=„Email“>
                <label for=„Betreff“>Betreff</label>
                <input name=„betreff“ placeholder=„Hier bitte prägnant deinen Betreff!“ class=„bg-white text-black w-full px-2 py-1 mb-3 rounded“ id=„Betreff“ type=„text“>
                <label for=„Text“>Inhalt</label>
                <hr class=„mb-2“>
                <textarea name=„inhalt“ value=„Text“ class=„bg-white text-black w-full px-2 py-1  rounded overflow-clip“ type=„text“></textarea>
                <button type=„submit“ class=„bg-blue-500 text-white mt-4 pb-1 px-3 rounded-full“>Abschicken!</button>
            </form>
        </div>