
    <!— FOOTER —>

    <footer class=„text-gray bg-gray-800 text-xs p-6“>
        <ul class=„flex flex-row justify-center“>
            <li class=„m-1“>cc</li>
            <li class=„m-1“>j.f.c@posteo.de</li>
            <li class=„m-1“>2021</li>
        </ul>
    </footer>

</body>

</html>