<!DOCTYPE html>
<html lang=„de“>

<head>
    <meta charset=„UTF-8“>
    <meta name=„viewport“ content=„width=device-width, initial-scale=1.0“>
    <link rel=„stylesheet“ href=„/src/css/master.css“>
    <title>Jesper Fredrik Christ</title>
</head>


<!—  SITE START  —>


<body class=„bg-gray-100 text-white font-bold flex flex-col h-screen justify-between“>

    <!—  HEADER  —>

    <header class=„bg-gray-800 w-screen p-7 text-5xl sm:mb-10“>
        <nav>
            <ul class=„flex justify-center flex-row w-2/3 mx-auto“>
                <li class=„mx-auto md:m-2“><a href=„#“>J.F.C.</a></li>
                <div class=„ hidden sm:visible ml-auto flex flex-row mr-2 text-3xl“>
                    <li class=„m-2“><a href=„#“>projects</a></li>
                </div>
            </ul>
        </nav>
    </header>
