<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/src/css/master.css">
    <title>Jesper Fredrik Christ</title>
</head>


<!--  SITE START  -->


<body class="bg-first text-white font-bold flex flex-col h-screen justify-between">

    <!--  HEADER  -->

    <header class="bg-second w-screen p-7 text-5xl sm:mb-10">
        <nav>
            <ul class="flex justify-center flex-row w-2/3 mx-auto">
                <li class="mx-auto md:m-2"><a href="#">J.F.C.</a></li>
                <div class=" hidden sm:visible ml-auto flex flex-row mr-2 text-3xl">
                    <li class="m-2"><a href="#">projects</a></li>
                </div>
            </ul>
        </nav>
    </header>


    <!--  MAIN  -->

    <main>


        <!-- HERO SECTION -->

        <div id="hero" class="sm:w-2/3 sm:mx-auto -mb-28 sm:mb-10">
            <img src="../../static/pics/fotosMitKieran.jpg" class="w-full sm:w-1/2 inline-block" alt="Foto von Jesper">
            <p class="inline-block bg-fifth relative sm:static bottom-40 w-3/4 sm:w-0 p-6 pl-10">
                <span class="text-2xl">Moin!</span> <br> Ich bin's der Jesper! Komme aus Hildesheim.
            </p>
        </div>


        <!-- FACTS SECTION -->



        <div id="facts" class="w-full sm:w-2/3 mx-auto mb-4 sm:mb-10">
            <h3 class="text-fourth mx-4 my-2  text-xl bold uppercase">facts about me</h3>
            <ul class="flex flex-col sm:flex-row justify-between">
                <li class="mb-2  bg-fourth px-4 py-2">
                    <h3 class="uppercase">19 years old</h3>
                    <hr class="mb-1">
                    <p>
                        I was born on 11.01.2002 in Hildesheim a small b ig town with really not more than 100 000 inhabitants.
                    </p>
                </li>
                <li class="mb-2  sm:mx-10 bg-fourth px-4 py-2">
                    <h3 class="uppercase">fitness is life?</h3>
                    <hr class="mb-1">
                    <p>
                        Playing Handball since 2008. Darting since 2019. Sports in general for a lifetime to come.
                    </p>
                </li>
                <li class="mb-2  bg-fourth px-4 py-2">
                    <h3 class="uppercase">2 older brothers</h3>
                    <hr class="mb-1">
                    <p>
                        My older brothers Thore und Jannik are very close although they live very far away in bavaria, the cliché of germany...
                    </p>
                </li>
            </ul>
        </div>


        <!--  CONTACT FORM  -->

        <div id="contact" class="bg-fifth sm:w-2/3 mx-auto mb-4 sm:mb-10">
            <form class="w-full p-5" action="" method="post">
                <input value="Email" class="bg-second w-full mb-1 p-1" type="email" name="" id="">
                <input value="Betreff" class="bg-second w-full p-1" type="text">
                <hr class="my-2">
                <textarea value="Text" class="bg-second w-full p-1 overflow-clip" type="text"></textarea>
                <button type="submit" class="bg-first text-second mt-4 pb-1 px-3 rounded-full">Abschicken!</button>
            </form>
        </div>
    </main>


    <!-- FOOTER -->

    <footer class="text-white bg-second text-sm  p-6">
        <ul class="flex flex-row justify-around">
            <li class="">cc</li>
            <li class="">j.f.c@posteo.de</li>
            <li class="">2020z</li>
        </ul>
    </footer>
</body>

</html>