<%- include(“partials/header“) %>

    <!—  MAIN  —>

    <main>


        <!— HERO SECTION —>

        <div id=„hero“ class=„sm:w-2/3 sm:mx-auto -mb-28 xs:-mb-24 sm:mb-10“>
            <img src=„/img/fotosMitKieran.jpg“ class=„w-full sm:w-1/2 inline-block“ alt=„Foto von Jesper“>
            <p class=„inline-block bg-green-700 relative sm:static bottom-52 xs:bottom-72 w-3/4 sm:w-0 p-6 pl-10“>
                <span class=„text-2xl“>Moin!</span> <br> Ich bin’s der Jesper! Komme aus Hildesheim.
            </p>
        </div>


        <!— FACTS SECTION —>



        <div id=„facts“ class=„w-full sm:w-2/3 mx-auto mb-4 sm:mb-10“>
            <h3 class=„text-green-700 mx-4 my-2  text-xl bold uppercase“>facts about me</h3>
            <ul class=„flex flex-col sm:flex-row justify-between“>
                <li class=„mb-2  bg-green-700 px-4 py-2“>
                    <h3 class=„uppercase“>19 years old</h3>
                    <hr class=„mb-1“>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quae quaerat fuga, quidem animi quasi, aspernatur tempora tempore, accusamus aliquam impedit repudiandae. In eveniet corrupti facere eius odio eligendi dolorum! </p>
                </li>
                <li class=„mb-2  sm:mx-10 bg-green-700 px-4 py-2“>
                    <h3 class=„uppercase“>fitness is life?</h3>
                    <hr class=„mb-1“>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio reprehenderit hic, ab officia nemo quam, quisquam perspiciatis quia beatae commodi debitis, vero amet accusamus animi aperiam illum natus voluptatem ea!
                    </p>
                </li>
                <li class=„mb-2  bg-green-700 px-4 py-2“>
                    <h3 class=„uppercase“>2 older brothers</h3>
                    <hr class=„mb-1“>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod aut consequuntur voluptate pariatur iure rerum voluptas maiores cupiditate expedita repellendus placeat labore cumque, aperiam eveniet at minus. Rem, dolores exercitationem.
                    </p>
                </li>
            </ul>
        </div>

    <%- include(“partials/contact“) %>
        
    </main>



<%- include(“partials/footer“) %>